.App {
    text-align: center;
}
.container{
    padding: 50px 0;
}

.container h1  {
    padding: 40px;
}

.container h2 {
    padding: 10px;
}

.container h3 {
    padding: 15px 0;
}

.character-card{
    
    margin: 20px  0;
}

.logout{
    position: relative;
    left: 50%;
    top: 300px;
}

.accordion {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 50px;
}

